<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clj.mapper.CropGrowthRecordMapper">

    <resultMap id="BaseResultMap" type="com.clj.domain.CropGrowthRecord">
            <id property="growthId" column="growth_id" />
            <result property="recordId" column="record_id" />
            <result property="soilMoisture" column="soil_moisture" />
            <result property="temperature" column="temperature" />
            <result property="lightIntensity" column="light_intensity" />
            <result property="airHumidity" column="air_humidity" />
            <result property="collectTime" column="collect_time" />
    </resultMap>

    <sql id="Base_Column_List">
        growth_id,record_id,soil_moisture,temperature,light_intensity,air_humidity,
        collect_time
    </sql>
</mapper>
